body {
    background: url(https://cdn.wallpapersafari.com/40/84/Ziqg2V.jpg) no-repeat center fixed;
    background-size: cover;
  }
  h1 {
    color: whitesmoke;
  }
  p {
    color: whitesmoke;
  }
  h2 {
    color: whitesmoke;
    text-align: center;
    background-color: darkgray;
  }
#main-container {
    background-color: gray;
}
#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: black;
    border: 0 none;
  }
  